apiVersion: v1
kind: Service
metadata:
  name: todo-frontend-nodeport
  labels:
    app: todo-frontend
spec:
  type: NodePort
  ports:
  - port: 80
    targetPort: 80
    nodePort: 30081
    protocol: TCP
    name: http
  selector:
    app: todo-frontend